In [1]:
import pandas as pd # import and manage datasets
import numpy as np # mathematic library

In [2]:
df_personnel = pd.read_excel('PersonnelOnShift.xlsx')

In [4]:
df_personnel.head()

,report_week,hospital_code,er_staff_residents_and_rural_day_on_call,er_staff_specialist_day_on_call,er_staff_mic_day_on_call,er_staff_nurse_day_on_call,er_staff_non_professional_nurse_day_on_call,er_staff_residents_and_rural_night_on_call,er_staff_specialist_night_on_call,er_staff_mic_night_on_call,er_staff_nurse_night_on_call,er_staff_non_professional_nurse_night_on_call,er_day_on_call,er_night_on_call
0,30 del 2019,AMA000,0,2,2,2,2,0,1,2,2,1,8,6
1,29 del 2019,AMA000,1,2,2,3,2,1,2,2,2,1,10,8
2,35 del 2019,AMA000,1,4,2,3,1,1,2,2,3,0,11,8
3,28 del 2019,AMA000,1,3,2,2,1,0,2,2,2,0,9,6
4,45 del 2019,AMA000,2,2,2,3,1,1,1,2,2,1,10,7

In [1]:
df910 = pd.read_excel('data4pg910.xlsx')

NameError: name 'df' is not defined

In [5]:
df910.head()

,report_week,hospital_code,strike_medical_staff_affected,strike_nurses_affected,strike_other_staff_affected,strike_patients_affected,strike_other_affected,staff_violence_affected_reasons,epidemiological_emergency_suspected_diseases,nCoV_face_mask_avail,nCoV_respiratory_isolation_protocol_avail,nCoV_isolation_area_avail
0,30 del 2019,AMA000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,29 del 2019,AMA000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,35 del 2019,AMA000,NaN,NaN,NaN,NaN,NaN,Violencia contra personal de hospital por fami...,NaN,NaN,NaN,NaN
3,28 del 2019,AMA000,NaN,NaN,NaN,NaN,NaN,Violencia contra personal de hospital por fami...,NaN,NaN,NaN,NaN
4,45 del 2019,AMA000,NaN,NaN,NaN,NaN,NaN,"Robos , hurtos o disparos dentro del centro as...",TBC en personal de salud,NaN,NaN,NaN