In [1]:
import pandas as pd # import and manage datasets
import numpy as np # mathematic library

In [3]:
df = pd.read_excel('data_hackathon.xlsx')

In [4]:
df.head(5)

,timestamp,report_week,operability_icu,power_outage_equipment_failure_specify,power_generator_available,power_outage_mortatility,power_outage_deaths_count,mortality_hospital_failure_cardiovascular_count,mortality_hospital_failure_cardiovascular_cause,mortality_hospital_failure_trauma_count,...,er_staff_nurse_night_on_call,er_staff_non_professional_nurse_night_on_call,wash_failure_icu,wash_failure_er,wahs_failure_sx,power_outage,power_outage_avg_failures_per_day,power_outage_days_count,power_outage_avg_duration,power_outage_equipment_failure
0,2019-08-20T22:11:30.705Z,30 del 2019,Todos los días,NaN,Funciona entre 3 y 5 días,No,NaN,1.0,"Equipos, Medicamentos, Recurso Humano, Resto e...",0.0,...,2,1,"3 a 5 días , sin soporte alterno","3 a 5 días , sin soporte alterno","3 a 5 días , sin soporte alterno",Si,1,Menos de 3 días,1899-12-30T02:00:00.000Z,No
1,2019-08-20T22:01:04.247Z,29 del 2019,Todos los días,NaN,Funciona entre 3 y 5 días,No,NaN,0.0,NaN,1.0,...,2,1,"3 a 5 días , sin soporte alterno","3 a 5 días , sin soporte alterno","3 a 5 días , sin soporte alterno",Si,1,Menos de 3 días,1899-12-30T03:00:00.000Z,No
2,2019-09-04T02:34:20.573Z,35 del 2019,Todos los días,NaN,Funciona menos de 3 días,No,0.0,0.0,NaN,0.0,...,3,0,"< 3 días, con soporte alterno","< 3 días, con soporte alterno","< 3 días, con soporte alterno",Si,1,Menos de 3 días,1899-12-30T06:45:00.000Z,No
3,2019-07-16T18:16:16.330Z,28 del 2019,Todos los días,NaN,Funciona menos de 3 días,No,NaN,2.0,"Equipos, Medicamentos, Recurso Humano, Resto e...",0.0,...,2,0,"< 3 días, sin soporte alterno (cisternas)","< 3 días, sin soporte alterno (cisternas)","< 3 días, sin soporte alterno (cisternas)",Si,1,Menos de 3 días,1899-12-30T08:00:00.000Z,No
4,2019-11-12T20:14:08.631Z,45 del 2019,Todos los días,NaN,Funciona todos los días,No,NaN,0.0,NaN,2.0,...,2,1,"< 3 días, sin soporte alterno (cisternas)","< 3 días, sin soporte alterno (cisternas)","< 3 días, sin soporte alterno (cisternas)",Si,2,Entre 3 y 5 días,1899-12-30T08:00:00.000Z,No

In [5]:
# create dataframe for personnel working
df_personnel = df[['report_week','hospital_code','er_staff_residents_and_rural_day_on_call','er_staff_specialist_day_on_call','er_staff_mic_day_on_call','er_staff_nurse_day_on_call','er_staff_non_professional_nurse_day_on_call','er_staff_residents_and_rural_night_on_call','er_staff_specialist_night_on_call','er_staff_mic_night_on_call','er_staff_nurse_night_on_call','er_staff_non_professional_nurse_night_on_call']].copy()

In [9]:
df_personnel.head(5)

,report_week,hospital_code,er_staff_residents_and_rural_day_on_call,er_staff_specialist_day_on_call,er_staff_mic_day_on_call,er_staff_nurse_day_on_call,er_staff_non_professional_nurse_day_on_call,er_staff_residents_and_rural_night_on_call,er_staff_specialist_night_on_call,er_staff_mic_night_on_call,er_staff_nurse_night_on_call,er_staff_non_professional_nurse_night_on_call
0,30 del 2019,AMA000,0,2,2,2,2,0,1,2,2,1
1,29 del 2019,AMA000,1,2,2,3,2,1,2,2,2,1
2,35 del 2019,AMA000,1,4,2,3,1,1,2,2,3,0
3,28 del 2019,AMA000,1,3,2,2,1,0,2,2,2,0
4,45 del 2019,AMA000,2,2,2,3,1,1,1,2,2,1

In [16]:
# check if the columns have null values --- personnel on day shift
print(df_personnel['er_staff_residents_and_rural_day_on_call'].isnull().sum())
print(df_personnel['er_staff_specialist_day_on_call'].isnull().sum())
print(df_personnel['er_staff_mic_day_on_call'].isnull().sum())
print(df_personnel['er_staff_nurse_day_on_call'].isnull().sum())
print(df_personnel['er_staff_non_professional_nurse_day_on_call'].isnull().sum())

0
0
0
0
0

In [17]:
# check if the columns have null values --- personnel on night shift
print(df_personnel['er_staff_residents_and_rural_night_on_call'].isnull().sum())
print(df_personnel['er_staff_specialist_night_on_call'].isnull().sum())
print(df_personnel['er_staff_mic_night_on_call'].isnull().sum())
print(df_personnel['er_staff_nurse_night_on_call'].isnull().sum())
print(df_personnel['er_staff_non_professional_nurse_night_on_call'].isnull().sum())

0
0
0
0
0

In [10]:
er_day_on_call = []
er_night_on_call = []
for i in range(len(df_personnel)):
    x = df_personnel['er_staff_residents_and_rural_day_on_call'][i]+ df_personnel['er_staff_specialist_day_on_call'][i]+ df_personnel['er_staff_mic_day_on_call'][i]+ df_personnel['er_staff_nurse_day_on_call'][i]+ df_personnel['er_staff_non_professional_nurse_day_on_call'][i] 
    er_day_on_call.append(x)
    y = df_personnel['er_staff_residents_and_rural_night_on_call'][i]+ df_personnel['er_staff_specialist_night_on_call'][i]+ df_personnel['er_staff_mic_night_on_call'][i]+ df_personnel['er_staff_nurse_night_on_call'][i]+ df_personnel['er_staff_non_professional_nurse_night_on_call'][i] 
    er_night_on_call.append(y)

In [11]:
df_personnel['er_day_on_call'] = er_day_on_call
df_personnel['er_night_on_call'] = er_night_on_call

In [14]:
df_personnel.head(5)

,report_week,hospital_code,er_staff_residents_and_rural_day_on_call,er_staff_specialist_day_on_call,er_staff_mic_day_on_call,er_staff_nurse_day_on_call,er_staff_non_professional_nurse_day_on_call,er_staff_residents_and_rural_night_on_call,er_staff_specialist_night_on_call,er_staff_mic_night_on_call,er_staff_nurse_night_on_call,er_staff_non_professional_nurse_night_on_call,er_day_on_call,er_night_on_call
0,30 del 2019,AMA000,0,2,2,2,2,0,1,2,2,1,8,6
1,29 del 2019,AMA000,1,2,2,3,2,1,2,2,2,1,10,8
2,35 del 2019,AMA000,1,4,2,3,1,1,2,2,3,0,11,8
3,28 del 2019,AMA000,1,3,2,2,1,0,2,2,2,0,9,6
4,45 del 2019,AMA000,2,2,2,3,1,1,1,2,2,1,10,7

In [18]:
df_personnel.to_excel("PersonnelOnShift.xlsx")